<!DOCTYPE html>
<html ng-app="usersApi" class="has-navbar-fixed-top">
<head>
  <meta charset="utf-8">
  <title>WDI34 Project 3</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdsDypPEp9X7T8qg-p41_pz_c2EYsqr8Y&libraries=places"></script>
</head>
<body ng-controller="MainCtrl">

  <nav class="navbar is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item" ui-sref="home">!!!!!🏋️‍♂️ USERS 🏋️‍♀️!!!!!</a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" ng-class="{ 'is-active': navbarOpen }" ng-click="toggleMenu()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>


    <div class="navbar-menu" ng-class="{ 'is-active': navbarOpen }">
      <div class="navbar-end">
        <a class="navbar-item" ui-sref="usersIndex" ng-if="isAuthenticated()">All the users</a>
        <a class="navbar-item" ui-sref="usersShow" ng-if="isAuthenticated()">Your profile</a>
        <a class="navbar-item" ui-sref="login" ng-if="!isAuthenticated()">Login</a>
        <a class="navbar-item" ui-sref="register" ng-if="!isAuthenticated()">Register</a>
        <a class="navbar-item" ui-sref="edit" ng-if="isAuthenticated()">Edit</a>
        <a class="navbar-item" ng-click="logout()" ng-if="isAuthenticated()">Logout</a>
      </div>
    </div>
  </nav>

  <ui-view></ui-view>
</body>

</html>
