
<div class="columns">
  <div class="column">
    <figure class="image is-4by3">
      <img src="{{ user.image }}" alt="Placeholder image">
    </figure>
  </div>
  <div class="column">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ user.firstName }} {{ user.lastName }}, {{ user.age }}</p>
        <p class="subtitle is-6">{{ user.address }}</p>
      </div>
    </div>

    <div class="content">
      "{{ user.description }}"
      <br>
      GOAL: {{ user.goal }}
      <br>
      CONTACT: {{ user.email }}

      <div class="google-map" google-map location="user.location"></div>

      <a class="button" ui-sref="usersEdit({ id: user._id })" ng-if="isAuthenticated()">Edit</a>
    </div>
  </div>
</div>
